@charset "UTF-8";
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
 background-color: #dcedc8;
 width: 100%;
 height: 100%;
}


.selectdiv, .sinput{
	
margin: auto;	
}