@charset "UTF-8";
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.selectdiv,
.sinput {
  margin: auto;
}

.bapgo {
  font-family: 'BMJUA';
}

.selectdiv {
  position: static;
  top: 60%;
  left: 42%;
  font-family: 'BMJUA';
}

#sinput {
  position: static;
  top: 65%;
  left: 40%;
  font-family: 'BMJUA';
}

#search {
  width: 280px;
  height: 30px;
  font-size: 18px;
  /*   border-radius: 30px; */
  border: 1;
}
