<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.order.faq.FAQMapper">
<insert id="insertFaq" parameterType="com.soldesk.order.faq.FAQVo">
insert into faq values(#{faq_f}, #{faq_q})
</insert>

<select id="getAllList" parameterType="com.soldesk.order.faq.FAQVo" resultType="com.soldesk.order.faq.FAQVo">
select * from faq
</select>
</mapper>